@import _root_.audit.sync.SyncType
@import _root_.global.Global

@main("Salesforce Dashboard"){

	<div id="sync-control" class="wide-panel">
		<div id="run-sync-form-wrapper" class="small-panel">
			<h4>Import Salesforce Accounts From File</h4> 
			<form id="run-sync-form" method="POST" action="/runSalesforceSync">
				@snippets.localFilePicker(Global.getWebsiteListInputFolder(), "inputFilename")
				<br>
				<label for="generateReports">Generate Reports</label>
				<input type="checkbox" name="generateReports" checked="checked">
				<br>
				<label for="refreshRedirects">Refresh Redirects</label>
				<input type="checkbox" name="refreshRedirects" checked="checked">
				<br>
				<button type="submit" value="Submit">Submit</button>
			</form>
		</div>
		<div class="small-panel load-dashboard" data-dashboard-href="/salesforceDashboardStats">
		</div>
		<div class="small-panel">
			<h3>Crawling</h3>
			<a id="crawl-us-franchise-button" class="large-button in-page-link" href="/salesforce/crawlUsFranchise">Crawl US Franchise</a>
		</div>
		<a id="refresh-redirect-paths-button" class="large-button in-page-link" href="/salesforce/refreshRedirectPaths">Refresh Redirect Paths</a>
		<a id="assign-siteless-button" class="large-button in-page-link" href="/salesforce/assignSiteless">Assign Siteless</a>
		<a id="salesforce-reset-sites-button" class="large-button in-page-link" href="/salesforce/resetSites">Reset Sites</a>
		<a id="salesforce-forward-sites-button" class="large-button in-page-link" href="/salesforce/forwardSites">Forward Sites</a>
		<a id="mark-significant-differences-button" class="large-button in-page-link" href="/salesforce/markSignificantDifferences">Mark Differences</a>
		<a id="salesforce-website-report-button" class="large-button in-page-link" href="/salesforceWebsiteReport">Website Report</a>
		<a id="standardize-accounts-button" class="large-button in-page-link" href="/salesforce/standardizeAccounts">Standardize Accounts</a>		
		
	</div>
	<div id="salesforce-sync-wrapper">
		@for(syncType <- SyncType.values){
			@syncTypeList(syncType)
		}
	</div>
	
	

}