@import _root_.async.work.WorkType
@import _root_.async.work.WorkStatus

@main("Create Task Set"){
	<form method="POST" action="/createTaskSet" id="create-taskset-form">
		@for(item <- WorkType.values()){
			<div class="checkbox-container">
				<input type="checkbox" name="workTypes[]" value="@item.name()"/>
				<label name="workTypes[]" value="@item.name()">@item.name()</label>
			</div>
		}
		<input type="hidden" name="testing" value="hiddenvalue">
		<button type="submit">Submit</button>
	</form>
}