

@main("Basic Dealers Dashboard") {

	
	<div class="wide-panel">
		
		<a class="in-page-link large-button" href="/bd/parseAddresses">Parse Addresses</a>
		<a class="in-page-link large-button" href="/bd/standardizeFields">Standardize Fields</a>
		<a class="in-page-link large-button" href="/bd/assignSiteless">Assign Siteless</a>
		<a class="in-page-link large-button" href="/bd/refreshRedirectPaths">Refresh Redirect Paths</a>
		<a class="in-page-link large-button" href="/bd/salesforceMatching">Salesforce Matching</a>
		
		
		<a class="in-page-link large-button" href="/places/classifyRecords">Classify Records</a>
		
	</div>

}