@(dealer : _root_.persistence.Dealer)

<div class="site-brief">
	<div>
		<span class="dealer-name">@dealer.getDealerName()</span>
		<br>
		<span class="dealer-id">Dealer @dealer.getDealerId() </span>
		<span class="site-id"> (Site @dealer.getMainSite().getSiteId())</span>
		<span class="site-numCrawls">( @dealer.getMainSite().getCrawls().size() crawls ) </span>
		<span class="dealer-datasource"> -- @dealer.getDatasource()</span>
		@if(dealer.getMainSite().getLatestCrawl() != null) {
			<br>
			<span class="recent-crawl-date">Recent crawl : @dealer.getMainSite().getLatestCrawl().getCrawlDate()</span>
			<span class="recent-crawl-num-files">(@dealer.getMainSite().getLatestCrawl().getNumRetrievedFiles())</span>
			<span class="recent-crawl-num-files"> -- @dealer.getMainSite().getLatestCrawl().getSeed()</span>
		}
		<span class="dealer-address">@dealer.getAddress()</span>
	</div>
	<div>
		<span class="site-homepage"><a href="@dealer.getMainSite().getHomepage()" target="_blank">@dealer.getMainSite().getHomepage()</a></span>
		
		
		@if(dealer.getMainSite().getCrawls().size() > 0) {
			<div class="crawl-review-container">
				<button type="button" class="approve-small-crawl-button" onclick="approveSmallCrawl(@dealer.getMainSite().getSiteId())">Approve Small Crawl</button>
				<button type="button" class="mark-group-site" onclick="markGroupSite(@dealer.getMainSite().getSiteId())">Mark as Group Site</button>
				<button type="button" class="mark-crawl-protected" onclick="markCrawlProtected(@dealer.getMainSite().getSiteId())">Mark as Crawl Protected</button>
				<button type="button" class="mark-recrawl" onclick="markRecrawl(@dealer.getMainSite().getSiteId())">Mark for Recrawling</button>
			</div>
		}
	</div>
</div>

