@import reporting.DashboardStats
@import _root_.async.work.WorkType
@import _root_.async.work.WorkStatus

@(taskSet : _root_.persistence.tasks.TaskSet, stats : DashboardStats)

@main("TaskSet " + taskSet.getTaskSetId() + " : " +  taskSet.getName()) {
	<div>
		<p>Task Set Started : @taskSet.getDateCreated()</p>
		<p>@taskSet.getTasks().size() Tasks</p>
	</div>
	<div id="dashboard-stats">
		@viewstats.viewStats(stats)
	</div>
	
	<div id="work-form-wrapper" class="content-block">
		<H2>Task Set Work</H2>
		@helper.form(action = routes.JobController.taskSetWork, 'id -> "workForm") {
			<input type="hidden" name="taskSetId" value="@taskSet.getTaskSetId()"/>
			
			<label name="numToProcess"># tasks to Process</label>
			<input type="text" name="numToProcess" value="500" id="count-input">
			<br>
			<label name="offset">Offset</label>
			<input type="text" name="offset" value = "0" id="offset-input">
			<br>
			<label name="offset">Number of Workers</label>
			<input type="text" name="numWorkers" value = "25" id="offset-input">
			<br>
			<button type = "submit" id="workFormSubmit">Submit Job</button>
		}
	</div>
	<div id="taskset-settings-form-wrapper" class="content-block">
		<form id="taskset-settings-form" action="/subtaskWorkStatus" method="POST">
			<input type="hidden" value="@taskSet.getTaskSetId()" name="taskSetId"/>
			<p>
				<label name="workType">Work Type</label>
				<select name = "workType">
					@for(workType <- WorkType.values()){
						<option value="@workType">@workType</option>
					}
				</select>
			</p>
			<p>
				<label name="currentWorkStatus">Current Work Status</label>
				<select name = "currentWorkStatus">
					@for(workStatus <- WorkStatus.values()){
						<option value="@workStatus">@workStatus</option>
					}
				</select>
			</p>
			
			<p>
				<label name="targetWorkStatus">Target Work Status</label>
				<select name = "targetWorkStatus">
					@for(workStatus <- WorkStatus.values()){
						<option value="@workStatus">@workStatus</option>
					}
				</select>
			</p>
			
			<p>
				<label name="supertaskTargetWorkStatus">Supertask Target Work Status</label>
				<select name = "supertaskTargetWorkStatus">
					<option value="NO_CHANGE" selected="selected">No Change</option>
					@for(workStatus <- WorkStatus.values()){
						<option value="@workStatus">@workStatus</option>
					}
				</select>
			</p>
			<button type = "submit" id="set-work-status">Set Subtask Work Status</button>
		
		</form>
	
	</div>
	<br>
	<br>
	<br>
	<div id="review-forms-container" class="content-block">
		<h3>Review Tasks</h3>
		<form id="review-tasks-form" method="GET" action="/reviewTasks">
			<input type="hidden" name="taskSetId" value="@taskSet.getTaskSetId()">
			<select name = "workType">
				@for(workType <- WorkType.values()){
					<option value="@workType">@workType</option>
				}
			</select>
			<button type="submit">Submit</button>
		</form>
		<h3>Review Subtasks</h3>
		<form id="review-subtasks-form" method="GET" action="/reviewSubtasks">
			<input type="hidden" name="taskSetId" value="@taskSet.getTaskSetId()">
			<select name = "workType">
				@for(workType <- WorkType.values()){
					<option value="@workType">@workType</option>
				}
			</select>
			<button type="submit">Submit</button>
		</form>
	</div>
	
	
}