@(message : String)

@main("Dashboard", message){
<script type="text/javascript">
$(document).ready(function(){
	var monitoringUpdateFrequency = 30 * 1000;
	var dashboardUpdateFrequency = 10 * 1000
	
	function updateDashboardStats() {
		$("#dashboard-stats").load("@(controllers.routes.DataView.dashboardStats())");
	}
	
	function updateMonitoring() {
		console.log("updating");
		
		
		$("#monitoring-panels").load("@(controllers.routes.DataView.getMonitoringQueues())");
	}
	updateDashboardStats();
	var monitorInterval = setInterval(updateMonitoring, monitoringUpdateFrequency);
	//var statInteverval = setInterval(updateDashboardStats, dashboardUpdateFrequency);
	$("#update-monitoring-button").click(function() {
		updateMonitoring();
	})
	
	
})

</script>




<div id="dashboard-stats-container">
	<div id="dashboard-stats"></div>
</div>

<div id="monitoring-container">
	<h2>Monitoring Queues</h2>
	<button id="update-monitoring-button" type="button">Update monitoring</button>
	<div id="monitoring-panels">
		
	</div>
</div>

}