@(siteCrawls : java.util.List[_root_.persistence.SiteCrawl])

@global()



<table class="site-crawls">
@for(siteCrawl <- siteCrawls) {
	<tr>
		<td>
			<p>@siteCrawl.getSiteCrawlId()</p>
			<p><a href="@siteCrawl.getSeed()" target="_blank">@siteCrawl.getSeed()</a></p>
			@if(siteCrawl.getSite() != null) {
				@if(siteCrawl.getSite().getLatestWithWebProvider() != null) {
					<p>Last Web Provider : @siteCrawl.getSite().getLatestWithWebProvider().getInferredWebProvider() (@siteCrawl.getSite().getLatestWithWebProvider().getCrawlDate()))</p>
				}
			}
			<p>
		</td>
		<td>
			<h4>General Matches</h4>
			<ul>
			@for(generalMatch <- siteCrawl.getGeneralMatches()) {
				<li>@generalMatch.getDescription()</li>
			}
			</ul>
		</td>
		<td>
			<h4>Web Provider Matches</h4>
			<ul>
			@for(item <- siteCrawl.getWebProviders()) {
				<li>@item.getDescription()</li>
			}
			</ul>
		</td>
		<td>
			<h4>Actions</h4>
			@for(item <- siteCrawl.getWebProviders()) {
				<button onclick="setWebProvider(@siteCrawl.getSiteCrawlId(), @item.getId())">@item.getDescription()</button>
			}
			<button onclick="setWebProvider(@siteCrawl.getSiteCrawlId(), 0)">Unknown</button>
			<button onclick="setWebProvider(@siteCrawl.getSiteCrawlId(), 203)">Other</button>
			<button onclick="setWebProvider(@siteCrawl.getSiteCrawlId(), 213)">OEM</button>
		</td>
			
	
	</tr>
	
}

</table>