@import persistence._
@(siteInfo : SiteInformation)

<div class="full-site-info">
<table>
	<tr>
		<td>SiteName:</td>
		<td> @siteInfo.getSiteName()</td>
	</tr>
	<tr>
		<td>SiteUrl:</td>
		<td> @siteInfo.getSiteUrl()</td>
	</tr>
	<tr>
		<td>RedirectUrl:</td>
		<td> @siteInfo.getRedirectUrl()</td>
	</tr>
	<tr>
		<td>NIADA:</td>
		<td> @siteInfo.getNiada()</td>
	</tr>
	<tr>
		<td>CapDB:</td>
		<td> @siteInfo.getCapdb()</td>
	</tr>
	<tr>
		<td>Franchise:</td>
		<td> @siteInfo.isFranchise()</td>
	</tr>
	<tr>
		<td>Given URL:</td>
		<td> @siteInfo.getGivenUrl()</td>
	</tr>
	<tr>
		<td>IntermediateUrl:</td> 
		<td>@siteInfo.getIntermediateUrl()</td>
	</tr>
	<tr>
		<td>Url Requires Review:</td>
		<td> @siteInfo.isUrlRequiresReview()</td>
	</tr>
	<tr>
		<td>Crawl Storage Folder:</td> 
		<td>@siteInfo.getCrawlStorageFolder()</td>
	</tr>
	<tr>
		<td>Site is Empty:</td>
		<td> @siteInfo.isEmptySite()</td>
	</tr>
	<tr>
		<td>Failed URLs:</td> 
		<td>@siteInfo.getFailedUrls()</td>
	</tr>
		
</table>
	
</div>