@import _root_.persistence.Site.SiteStatus

@main("Sites Dashboard") {


	<div class="small-panel load-dashboard loading" data-dashboard-href="/sitesDashboardStats">
	
	</div>
	
	<div class="small-panel">
		<a class="in-page-link large-button" href="/sites/checkUnvalidated">Check Unvalidated</a>
		<a class="in-page-link large-button" href="/sites/validateAll">Re-validate All</a>
		<a class="large-button" href="/sites/reviewSites">Review Sites</a>
	</div>
	
	<div class="small-panel">
		<form id="site-validation-form" name="site-validation-form" class="faux-submit-form" action="/sites/validationSubmit" method="POST">
			@for(item <- SiteStatus.values()){
				<div class="checkbox-container">
					@if(item == SiteStatus.UNVALIDATED){
						<input type="checkbox" name="siteStatuses[]" value="@item.name()" checked="true"/>
					} else{
						<input type="checkbox" name="siteStatuses[]" value="@item.name()"/>
					}
					<label name="siteStatuses[]" value="@item.name()">@item.name()</label>
				</div>
			}
			<button type="submit" name="validation-submit" value="validation-submit">Validate Sites</button>
		</form>
	</div>
}