@(site : _root_.persistence.Site)

@main("View Site") {

	<h2>Site @site.getSiteId(): </span><a  class="site-homepage" href="@site.getHomepage()" target="_blank">@site.getHomepage()</a></h3>
	<br>
	<span class="site-numCrawls">@site.getCrawls().size() crawls  </span>
	
	
	@if(site.getLastCrawl() != null) {
		<h3>Last Crawl :</h3>
		<a href="/sites/siteCrawl/@site.getLastCrawl().getSiteCrawlId()">SiteCrawl @site.getLastCrawl().getSiteCrawlId()</a> --
		<a href="@site.getLastCrawl().getSeed()" target="_blank">@site.getLastCrawl().getSeed()</a> 
	}
		
	
	<div class="small-panel" id="site-crawls-list-panel"></div>
	<script>
		$(document).ready(function(){
			$("#site-crawls-list-panel").load("/sites/siteCrawlList/@site.getSiteId()");
		})
	</script>
}